

<div class="row">
    <div class="col-md-5">
        {% include 'common/forms/field.html' with field=form.first_name %}
    </div>
    <div class="col-md-7">
        {% include 'common/forms/field.html' with field=form.last_name %}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {% include 'common/forms/field.html' with field=form.email %}

        {% include 'common/forms/field.html' with field=form.phone %}
    </div>

        <div class="col-md-6">
        {% include 'common/forms/field.html' with field=form.dni %}
        {% include 'common/forms/field.html' with field=form.birth_date %}
            {% include 'common/forms/field.html' with field=form.address %}
        {% include 'common/forms/field.html' with field=form.favourite_genre %}

    </div>
</div>

<div class="form-group">
 {% include "common/forms/label.html" with field=form.music_connection %}
    {{form.music_connection}}
  <small class="text-muted d-block">¿Qué te une al mundo de la música? Eres amante de la música, tienes una sala, produces, tocas en una banda? (si es así, cuéntanos cuál!)</small>
</div>

{% include 'common/forms/field.html' with field=form.help %}
<div id="other_field" style="display:none;">
{% include 'common/forms/field.html' with field=form.help_other %}
</div>

{% include 'common/forms/field.html' with field=form.comments_extra %}