{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% load l10n %}

{% block title %}Únete{% endblock title%}

{% block main_content %}

<div class="jumbo-header jumbo-band" xmlns="http://www.w3.org/1999/html">
    <div class="jumbotron">
        <div class="container text-center">
                <h1>Únete</h1>

        </div>
    </div>
</div>

<br class="hidden-xs hidden-sm">
<div class="container main card "  style="max-width:920px;">
    <p class="lead">Gracias por unirte a Alcalá es Musica! En breve nos pondremos en contacto contigo.</p>

</div>
{% endblock %}



