{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtailuserbar puput_tags %}
{% load settings_value %}
{% load l10n %}

{% block bodyattrs %} class="blog-puput" {% endblock%}


{% block social_meta %}
    {% block social_share %}
    <meta name="twitter:description" content="Alcalá Es Música es una asociación que tiene las puertas abiertas a todos los músicos, grupos, profesionales y empresas del sector, artistas amateur, locales, espacios, hosteleros, instituciones públicas, formadores en el ámbito musical, amantes de las música, radios, productoras...  para  generar en nuestra ciudad un eco-sistema idóneo para todos los trabajadores y aficionados a la música">
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "img/logo_banner.jpg" %}">
     <meta property="og:title" content="| {% settings_value "MAIN_PAGE_TITLE" %}" />
 <meta name="twitter:title" content="| {% settings_value "MAIN_PAGE_TITLE" %}">

    <meta property="og:description" content="Alcalá Es Música es una asociación que tiene las puertas abiertas a todos los músicos, grupos, profesionales y empresas del sector, artistas amateur, locales, espacios, hosteleros, instituciones públicas, formadores en el ámbito musical, amantes de las música, radios, productoras...  para  generar en nuestra ciudad un ecosistema idóneo para todos los trabajadores y aficionados a la música" />
    <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "img/logo_banner.jpg" %}" />

    {% endblock social_share%}
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:type" content="article" />
   {% endblock %}


{% block title %}
  {% if search_term %}
        {{ search_term }} | {{ blog_page.title }}
    {% else %}
        {{ blog_page.title }}
    {% endif %}
{% endblock title%}

{% block extra_head %}
   <link rel="canonical" href="{% block canonical %}{% canonical_url %}{% endblock canonical %}"/>
    <link rel="stylesheet" href="{% static 'puput/css/puput.css' %}"/>
{% endblock extra_head %}

{% block main_content %}

{% block blog_header %}
<div class="jumbo-header jumbo-band">
    <div class="jumbotron">
        <div class="container text-center">
                <h1>Noticias</h1>
        </div>
    </div>
</div>
{% endblock blog_header %}

{% wagtailuserbar %}

<div class="container container-blog">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            {% block content %}{% endblock content %}
            {% block extra_content %}{% endblock extra_content %}
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="blog_sidebar">
                <div class="rss-sitemap">
                    <a href="{% feeds_url blog_page %}" target="_blank" title="RSS">
                         <i class="fa fa-rss-square"></i> <span>Feed RSS</span>
                    </a>
                </div>
                <form name="search_form" class="search_form" method="get" action="{% routablepageurl blog_page 'entries_search' %}">
                    <div class="input-group">
                         <input type="search" name="q" placeholder="Buscar">
                         <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                         </span>
                    </div>
                </form>

                {% if blog_page.display_last_entries %}
                    <ul class="sidebar double-sep">
                        <h3 class="secondary header-bar">Últimas entradas</h3>
                        {% recent_entries blog_page.num_last_entries %}
                    </ul>
                {% endif %}
                {% if blog_page.display_popular_entries %}
                    <ul class="sidebar">
                        <h3 class="secondary header-bar">Entradas populares</h3>
                        {% popular_entries blog_page.num_popular_entries %}
                    </ul>
                {% endif %}
                {% if blog_page.display_categories %}
                    <ul class="sidebar">
                        <h3 class="secondary header-bar margin-bottom">Categorías</h3>
                        {% categories_list %}
                    </ul>
                {% endif %}
                {% if blog_page.display_tags %}
                    <ul class="sidebar">
                        <h3 class="secondary header-bar margin-bottom">Etiquetas</h3>
                        {% tags_list %}
                    </ul>
                {% endif %}
                {% if blog_page.display_archive %}
                    <ul class="sidebar widget menu">
                        <h3 class="secondary header-bar">Archivo</h3>
                        {% archives_list %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'puput/js/puput.js' %}"></script>
{% endblock scripts %}
