{% extends "puput/base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags puput_tags %}
{% load settings_value %}

{% block title %}
    {{ self.title }} | {{ blog_page.title }}
{% endblock title %}

{% block meta_title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% else %}
        {{ self.title }}
    {% endif %}
{% endblock meta_title %}


{% block social_share %}

    <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
    <meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}">

{% if self.header_image %}
    {% image self.header_image fill-800x450 as header_image %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ header_image.url }}" />
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ header_image.url }}">
{% else %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "img/logo_banner.jpg" %}" />
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "img/logo_banner.jpg" %}">
 {% endif %}
    <meta property="og:description" content="Alcalá Es Música es una asociación que tiene las puertas abiertas a todos los músicos, grupos, profesionales y empresas del sector, artistas amateur, locales, espacios, hosteleros, instituciones públicas, formadores en el ámbito musical, amantes de las música, radios, productoras...  para  generar en nuestra ciudad un ecosistema idóneo para todos los trabajadores y aficionados a la música" />
    <meta name="twitter:description" content="Alcalá Es Música es una asociación que tiene las puertas abiertas a todos los músicos, grupos, profesionales y empresas del sector, artistas amateur, locales, espacios, hosteleros, instituciones públicas, formadores en el ámbito musical, amantes de las música, radios, productoras...  para  generar en nuestra ciudad un eco-sistema idóneo para todos los trabajadores y aficionados a la música">
{% endblock social_share%}


{% block canonical %}
    {% canonical_url entry=self %}
{% endblock canonical %}

{% block blog_header %}

{% if self.header_image %}
{% image self.header_image fill-800x450 as header_image %}
<div class="jumbo-header dark-header" style="background-image:url('{{ header_image.url }}');">
{% else %}
<div class="jumbo-header jumbo-band">
 {% endif %}

    <div class="jumbotron">
        <div class="container text-center">
                <h1 class="post_title">{{ self.title }}</a></h1>
              <div class="description">
                {% include 'puput/entry_links.html' with entry=self %}
              </div>
        </div>
    </div>
</div>
{% endblock blog_header %}

{% block content %}
    <article class="card main page-content">
        <section>
            {{ self.body|richtext}}
            <div class="row">
                <div class="col-md-5 col-xs-6">
                    <a class="btn btn-lg btn-primary continue" href="{% pageurl blog_page %}">
                        <i class="fa fa-angle-left"></i>
                        Volver
                    </a>
                </div>
                {% canonical_url self as share_url %}
                <ul class="social-share-all text-right col-xs-6 col-md-7">
                    {% include 'puput/share_links.html' with share_url=share_url entry=self only %}
                </ul>
            </div>

        </section>
        {% show_comments %}
    </article>
{% endblock content %}

{% block extra_content %}
    {% if self.has_related %}
        {% include 'puput/related_entries.html' with entry=self %}
    {% endif %}
{% endblock extra_content %}
