{% load chunks %}

{% if list_type == "carousel" %}

        <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for slide in events|chunks:3 %}
                <div class="item active">
                    <div class="row">
                        {% for event in slide %}
                        <div class="col-sm-4"><a href="#x">
                            {% include 'event/_resume_card.html' with event=event display=display %}
                        </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <!--/item-->
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
{% else %}

<div class="events-list">
{% for event in events %}
    <a class="event" href="#">
        <div class="date">
            <span class="month">{{ event.day|date:"M" }}</span>
            <span class="day">{{ event.day|date:"j" }}</span>
        </div>
        <div class="description">
            <h3>
            {% if event.title %}
                {{ event.title }}
            {% else %}
                {{event}}
            {% endif %}
                </h3>
            {{event.venue}}<br>
            {{event.time}}
        </div>

    </a>


{% endfor %}
</div>
{% endif %}

