<div class="card event-resume">
    {% with event.bands.all|first as band %}
    <div class="header"
         {% if event.poster %}
            style="background-image:url('{{event.poster.url}}')"
         {% else%}
            {% if band.band_image %}
                style="background-image:url('{{band.band_image.url}}')"
            {% else %}
                {% if event.venue.image %} style="background-image:url('{{event.venue.image.url}}')" {% endif %}
            {% endif %}
         {% endif %}
    >
    </div>

    <div class="date-calendar visible-sm-block visible-xs-block">
        <span class="month">{{ event.day|date:"M" }}</span>
        <span class="day">{{ event.day|date:"j" }}</span>
    </div>

    <div class="profile-circle small">
        {% if display == "band" %}
            {%if band.profile_image %}
                <img src="{{band.profile_thumbnail.url}}">
            {%else %}
                {%if event.venue.profile_image %}
                    <img src="{{event.venue.profile_thumbnail.url}}">
                {%else %}
                    <img src="{% static "img/venue-icon.png" %}">
                {% endif %}
            {% endif %}
        {% else %}
            {%if event.venue.profile_image %}
                <img src="{{event.venue.profile_thumbnail.url}}">
            {%else %}
                {%if band.profile_image %}
                    <img src="{{band.profile_thumbnail.url}}">
                {%else %}
                    <img src="{% static "img/venue-icon.png" %}">
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    {% endwith %}

    <div class="desc-venue">{{event.venue_title}}</div>
    <div class="desc-title">{{event}}</div>
    <div class="desc-emphasis visible-md-block visible-lg-block">{{event.day|date:"d/m/Y"}}</div>
    <p><hr>
    {% if not hide_btn %}
        <a class="btn btn-primary btn-lg" href="{% url 'event_detail' pk=event.pk %}" role="button">Ver concierto</a>
    {% endif %}
    </p>
</div>