{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{event}}, en {{event.venue_title}}{% endblock%}

{% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{venue.name}} - Alcalá Suena: Fiesta de la Música 2017">
        <meta name="twitter:description" content="Todos los conciertos en {{venue.name}} durante Alcalá Suena: Fiesta de la Música 2017">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if venue.image %}{{venue.image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{venue.name}} - Alcalá Suena: Fiesta de la Música 2017" />
        <meta property="og:description" content="Todos los conciertos en {{venue.name}} durante Alcalá Suena: Fiesta de la Música 2017" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if venue.image %}{{venue.image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}" />
{% endblock %}

{% block bodyattrs %}class="event"{% endblock%}

{% block content %}
<div class="jumbo-header minimal">
    <div class="jumbotron">
      <div class="container text-center">

      </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="panel stacked event-resume">

            {% with event.bands.all|first as band %}
            <div class="panel-header"
                {% if event.poster %}
                    style="background-image:url('{{event.poster.url}}')"
                 {% else%}
                    {% if band.band_image %}
                        style="background-image:url('{{band.band_image.url}}')"
                    {% else %}
                        {% if event.venue.image %} style="background-image:url('{{event.venue.image.url}}')" {% endif %}
                    {% endif %}
                 {% endif %}
            ></div>

            <div class="profile-circle">
                {% if display == "band" %}
                    {%if band.profile_image %}
                        <img src="{{band.profile_thumbnail.url}}">
                    {%else %}
                        {%if event.venue.profile_image %}
                            <img src="{{event.venue.profile_thumbnail.url}}">
                        {%else %}
                            <img src="{% static "img/venue-icon.png" %}">
                        {% endif %}
                    {% endif %}
                {% else %}
                    {%if event.venue.profile_image %}
                        <img src="{{event.venue.profile_thumbnail.url}}">
                    {%else %}
                        {%if band.profile_image %}
                            <img src="{{band.profile_thumbnail.url}}">
                        {%else %}
                            <img src="{% static "img/venue-icon.png" %}">
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>

            {% endwith %}

            <div class="large-padding">
                <div class="row">
                    <div class="col-md-6 desc-title text-left">{{event}}</div>
                    <div class="col-md-6 desc-title text-right"><strong><span class="right-margin">{{event.day|date:"d/m/Y"}} </span>{% if event.time %}<i class="fa fa-clock-o"></i> {{event.time}}{%endif%}</strong></div>
                </div>
                <p class="lead text-left">{{event.venue_title}}<br><span class="sub">{{event.venue_direction}}</span></p>
                <p class="text-left margin-top">{{event.description}}</p>

                <div class="row">

                    <div class="col-md-6">
                        {% if event.bands %}
                            <ul class="profile-list">
                            {% for band in event.bands.all %}
                                <a href="{% url 'band_detail' pk=band.pk %}"><li>
                                    <div class="profile-circle">
                                        {%if band.profile_image %} <img src="{{band.profile_image.url}}">{% endif %}
                                    </div>
                                    {{band}}<br><span class="sub">{{band.tag}}</span>
                                </li></a>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="col-md-6 margin-bottom margin-top">
                        {% if not event.price %}
                            <span class="desc-emphasis"><i class="fa fa-ticket" aria-hidden="true"></i> GRATIS</span>
                        {% else %}
                            <div class="price">
                                <strong>Precio</strong><br>
                                <span class="desc-emphasis">{{event.price}}€</span>
                            </div>
                            {% if event.price_preorder %}
                            <div class="price">
                                <strong>Anticipada</strong><br>
                                <span class="desc-emphasis">{{event.price_preorder}}€</span>
                            </div>
                            {% endif %}
                            {% if event.ticket_link %}
                            <div class="text-center margin-top">
                                <a class="btn btn-primary btn-lg" target="_blank" href="{{event.ticket_link}}" role="button"><i class="fa fa-ticket right-margin" aria-hidden="true"></i>Comprar entradas</a>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </div>


    <br><br>
    <div class="row">

        <div class="col-md-5 col-md-offset-1">
            <div class="secondary header-bar text-right margin-bottom"> <h4><i class="fa fa-share-alt right-margin" aria-hidden="true"></i> Compartir en redes</h4> </div>
            <p>¡Dale difusión al evento! Con los botones de abajo puedes compartir el concierto en las principales redes sociales y aplicaciones de mensajería con un solo click.<br>También puedes guardar la tarjeta del evento como imagen y compartirla con tus contactos.</p>
            <div class="social-links text-center">
                {% include 'common/share_link.html' with link=request.get_full_path text=event.title  %}
                <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Guardar como imagen"><i class="fa fa-telegram" aria-hidden="true"></i></a>-->
            </div>
        </div>
        <div class="col-md-5">{% include 'event/_resume_card.html' with event=event display=venue hide_btn=True %}</div>

    </div>

</div>

{% endblock %}


{% block scripts %}ç
<script type="text/javascript">

</script>
{% endblock scripts %}