{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Crear evento{% endblock%}


{% block bodyattrs %}class="event"{% endblock%}


{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/daterangepicker.css" %}"/>
{% endblock extra_styles %}


{% block main_content %}
<div class="jumbo-header minimal">
    <div class="jumbotron">
      <div class="container text-center">
      </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 panel stacked">
            <form method="POST" id="event-form" class="post-form description" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>{% if new_event %} Crear evento {% else %} Editar evento {% endif %}</h3><br>

                {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field }}
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group" data-links="#venue-name">
                        <label>Título</label>
                        {{ form.title }}
                        <small style="color: grey">Añade un título sólo si el evento tiene un título especial, o interviene
                        alguna banda de fuera de Alcalá. No incluyas el nombre de la sala, ya se muestra en otro sitio!</small>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="form-group" data-links="#venue-address">
                        <label>Fecha</label>
                        {{ form.day }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group" data-links="#venue-address">
                        <label>Hora</label>
                        {{ form.time }}
                        <small style="color: grey">Formato: "HH:MM"</small>
                    </div>
                </div>

                <div class="col-sm-8 col-md-9">
                    <div class="form-group">
                        <label>Descripción</label>
                        {{ form.description }}
                        <small style="color: grey">Si no añades una descripción específica del evento, se mostrará la descripción de las bandas participantes</small>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="form-group">
                        <label>Imagen de cabecera</label>
                        <div class="poster-image" id="poster-image" style="height:150px;width:100%;{% if event and event.poster %}background-image:url('{{event.poster.url}}'){% endif %}">
                            <div class="file-field image-field absolute-pos" data-ref="#poster-image" data-ref-type="background"  style="left:50%;top:50%;margin-top:-30px;margin-left:-40px;">
                                <div class="btn fab">
                                    <span><i class="fa fa-file-image-o" aria-hidden="true"></i></span>
                                    {{form.poster}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 text-center ">
                    <h4>Espacio</h4>
                    {{form.venue}}
                {% if manage_venue and venue %}
                    <ul class="profile-list">
                        {% include 'venue/_list_elem.html' with venue=venue %}
                    </ul>
                {%else %}
                    <ul class="profile-list" id="venue-selected">
                        <a href="#" data-toggle="modal" data-target="#venue-modal" >
                            {% if venue %}
                                {% include 'venue/_list_elem.html' with venue=venue %}
                            {% else %}
                                <li class="default-add">
                                    <div class="profile-circle"><i class="fa fa-plus" aria-hidden="true"></i></div>
                                    Enlazar espacio
                                    <div class="sub">Si es en un espacio de Alcalá, enlázalo!</div>
                                </li>
                            {% endif %}
                        </a>
                        {% if not venue %}
                            <a role="button" data-toggle="collapse" href="#customVenue" aria-expanded="false" aria-controls="customVenue" id="customVenueBtn">
                                <li class="default-add">
                                    <div class="profile-circle"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                    ¿No es en Alcalá?
                                    <div class="sub">Rellena unos datos básicos de la sala</div>
                                </li>
                            </a>
                            <div class="text-left collapse {% if form.venue_name.value %}in{% endif %}" id="customVenue" style="padding:15px 0 0 70px;">
                                <div class="form-group">
                                    <div class="row autoclear">
                                        <div class="col-sm-4"><label>Nombre de la sala</label></div>
                                        <div class="col-sm-8 col-md-7">{{ form.venue_name }}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row autoclear">
                                        <div class="col-sm-4"><label>Dirección</label></div>
                                        <div class="col-sm-8 col-md-7">{{ form.venue_address }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </ul>
                {% endif %}
                </div>

                <div class="col-sm-6 text-center margin-bottom">
                    <h4>Artistas</h4>
                {{form.event_bands}}
                <ul class="profile-list" id="bands-selected">
                    {% if preselect_band %}
                        <li data-id="{{preselect_band.pk}}">
                            <div class="profile-circle small">
                            <img src="{%if preselect_band.profile_image %}{{preselect_band.profile_thumbnail.url}}{%endif%}" alt="">
                            </div>{{preselect_band.name}}<br><span class="sub">{{preselect_band.genre}}</span>
                        </li>
                    {% endif %}

                    {% if event and event.bands %}
                        {% for band in event.bands.all %}
                        <li data-id="{{band.pk}}">
                            <div class="profile-circle small">
                            <img src="{%if band.profile_image %}{{band.profile_thumbnail.url}}{%endif%}" alt="">
                            </div>{{band.name}}<br><span class="sub">{{band.genre}}</span>
                            <i class="fa fa-close remove" data-toggle="tooltip" data-placement="left" title="Quitar banda" aria-hidden="true"></i>
                        </li>

                        {% endfor %}
                    {% endif %}
                    <a href="#" data-toggle="modal" data-target="#band-modal">
                        <li  class="default-add">
                            <div class="profile-circle"><i class="fa fa-plus" aria-hidden="true"></i></div>
                            Añadir banda
                            <div class="sub">Si participa alguna banda alcalaína en el concierto, enlázala!</div>
                        </li>
                    </a>

                </ul>
                </div>

                <div class="col-sm-4">
                    <label>Anticipada</label>
                    <div class="input-group">
                        {{form.price_preorder}}
                    <span class="input-group-addon">€</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Taquilla</label>
                    <div class="input-group">
                        {{form.price}}
                        <span class="input-group-addon">€</span>
                    </div>
                </div>
                <div class="col-sm-4"><label>Link entradas</label>{{form.ticket_link}}</div>


                <div class="col-sm-12 margin-top text-right"><button class="btn btn-primary btn-lg" type="submit">{% if new_event %} Publicar evento {% else %} Guardar {% endif %}</button> </div>
            </div>
            </form>

        </div>

    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="band-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="row">
            <div class="col-md-6">
                <h3 class="modal-title" id="myModalLabel">Elige banda a añadir</h3>
            </div>
            <div class="col-md-5">
                <div class="filter">
                    <input class="form-control" id="search" type="text" name="q" placeholder="Buscar...">
                </div>
            </div>
        </div>


      </div>
      <div class="modal-body large-padding">
              <div id="bands-list" data-initial="{% url 'bands_list' %}" data-preservehistory="true">
            <div class="results">

                </div>
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
            <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="venue-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Elige el espacio del concierto</h4>
      </div>
      <div class="modal-body large-padding">
              <ul class="row profile-list">
                    {% for venue in venues %}
                  <a href="#" class="col-md-6 select-venue">
                    {% include 'venue/_list_elem.html' with venue=venue %}
                    </a>
                      {% endfor %}

                </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
{% if choose_band %}
<div class="modal fade show-on-load" data-keyboard="false" data-backdrop="static" id="choose-band-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <h4 class="modal-title">Elige banda a añadir</h4>
      </div>
      <div class="modal-body large-padding">
          <p>Gestionas más de una banda, por favor selecciona de cuál quieres crear el evento:</p>
            {% include 'band/search_results.html' with bands=choose_band bigger=True %}
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
<script type="text/javascript">
    var day = $('input[name="day"]');

    day.daterangepicker({
        singleDatePicker: true,
        showDropdowns:false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    });

    var endDate = $('input[name="end_date"]');
    var preselectDate = $('input[name="preselect_date"]');
    var selectResults = $('#search_results');

    $('#dateRangeBtn').on('click', function(){
        daterange.focus();
    });

var list = $('#bands-list');
var selected = $('#bands-selected');
var venueSelected = $('#venue-selected');
var bandModal = $('#band-modal');
var venueModal = $('#venue-modal');
var bandsInput = $('input[name="event_bands"]');
var venueInput = $('input[name="venue"]');
var customVenue = $('#customVenueBtn,#customVenue');

selected.on('click', '.remove', function(){
    var band = $(this).parent();
    band.remove();
});

var search = $('#search');
search.on('change', function(){
    var q = search.val();
     if (q && q !== ''){
        loadResults(list, '{% url 'bands_list' %}?q=' + q);
     }

});

loadPaginationAjax(list);
list.find('.results').on('click', '.resume-card-container > a', function(e){
    e.preventDefault();
    var band = $(this);
    addBand(band, true);
    bandModal.modal('hide');
});

$('#event-form').on('submit', function(e){
    var ids = selected.find('li').map(function(){
        return $(this).attr('data-id');
    }).get();
    bandsInput.val(ids.join(','));
});

venueModal.find('.select-venue').on('click', function(){
    var venue = $(this).find('li');
    var venueId = venue.attr('data-id');
    venueSelected
        .find('li[data-id]').remove().end()
        .find('a')
            .find('.default-add').hide().end()
            .append(venue.clone())
    venueModal.modal('hide');
    venueInput.val(venueId);
    customVenue.hide();
});

var chooseBand = $('#choose-band-modal');
chooseBand.on('click', '.resume-card-container > a', function(e){
    e.preventDefault();
    var band = $(this);
    addBand(band, false);
    chooseBand.modal('hide');
});

function addBand(band, removable){
    var current = selected.find('[data-id="'+band.attr('data-id')+'"]');
    if (current.length > 0){
        return false;
    }
    var elem = $('<li></li>')
                .attr('data-id', band.attr('data-id'))
                .append(band.find('.profile-circle').clone())
                .append(band.find('.profile-title').text())
                .append('<br>')
                .append('<span class="sub">' + band.find('.profile-desc').text() + '</span>');

    if (removable)
        elem.append('<i class="fa fa-close remove" data-toggle="tooltip" data-placement="left" title="Quitar banda" aria-hidden="true"></i>');
    selected.prepend(elem);
}

</script>
{% endblock scripts %}