{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Crear evento{% endblock%}


{% block bodyattrs %}class="event"{% endblock%}


{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/daterangepicker.css" %}"/>
{% endblock extra_styles %}


{% block content %}
<div class="jumbo-header minimal">
    <div class="jumbotron">
      <div class="container text-center">
      </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 panel stacked">
            <form method="POST" id="event-form" class="post-form description" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>{% if new_event %} Crear evento {% else %} Editar evento {% endif %}</h3><br>

                {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field }}
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group" data-links="#venue-name">
                        <label>Título</label>
                        {{ form.title }}
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="form-group" data-links="#venue-address">
                        <label>Fecha</label>
                        {{ form.day }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group" data-links="#venue-address">
                        <label>Hora</label>
                        {{ form.time }}
                    </div>
                </div>

                <div class="col-sm-8 col-md-9">
                    <div class="form-group">
                        <label>Descripción</label>
                        {{ form.description }}
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="form-group">
                        <label>Imagen de cabecera</label>
                        <div class="poster-image" id="poster-image" style="height:150px;width:100%;">
                            <div class="file-field image-field absolute-pos" data-ref="#poster-image" data-ref-type="background"  style="left:50%;top:50%;margin-top:-30px;margin-left:-40px;">
                                <div class="btn fab">
                                    <span><i class="fa fa-file-image-o" aria-hidden="true"></i></span>
                                    {{form.poster}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 text-center ">
                    <h4>Espacio</h4>
                    {{form.venue}}
                {% if manage_venue and venue %}
                    <ul class="profile-list">
                        {% include 'venue/_list_elem.html' with venue=venue %}
                    </ul>
                {%else %}
                    <ul class="profile-list" id="venue-selected">
                        <a href="#" data-toggle="modal" data-target="#venue-modal" >
                            <li class="default-add">
                                <div class="profile-circle"><i class="fa fa-plus" aria-hidden="true"></i></div>
                                Enlazar espacio
                                <div class="sub">Si es en un espacio de Alcalá, enlázalo!</div>
                            </li>
                        </a>
                    </ul>
                {% endif %}
                </div>

                <div class="col-sm-6 text-center margin-bottom">
                    <h4>Artistas</h4>
                {{form.event_bands}}
                <ul class="profile-list" id="bands-selected">
                    <a href="#" data-toggle="modal" data-target="#band-modal">
                        <li  class="default-add">
                            <div class="profile-circle"><i class="fa fa-plus" aria-hidden="true"></i></div>
                            Añadir banda
                            <div class="sub">Si participa alguna banda alcalaína en el concierto, enlázala!</div>
                        </li>
                    </a>
                </ul>
                </div>

                <div class="col-sm-4">
                    <label>Anticipada</label>
                    <div class="input-group">
                        {{form.price_preorder}}
                    <span class="input-group-addon">€</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Taquilla</label>
                    <div class="input-group">
                        {{form.price}}
                        <span class="input-group-addon">€</span>
                    </div>
                </div>
                <div class="col-sm-4"><label>Link entradas</label>{{form.ticket_link}}</div>


                <div class="col-sm-12 margin-top text-right"><button class="btn btn-primary btn-lg" type="submit">{% if new_event %} Publicar evento {% else %} Guardar {% endif %}</button> </div>
            </form>
        </div>

        <div class="col-md-5 hidden">
        <div class="panel stacked event-resume">

            {% with event.bands.all|first as band %}
            <div class="panel-header"
                {% if event.poster %}
                    style="background-image:url('{{event.poster.url}}')"
                 {% else%}
                    {% if band.band_image %}
                        style="background-image:url('{{band.band_image.url}}')"
                    {% else %}
                        {% if event.venue.image %}
                            style="background-image:url('{{event.venue.image.url}}')"
                        {% else %}
                            {% if venue %}
                                style="background-image:url('{{event.venue.image.url}}')"
                            {% endif %}
                        {% endif %}
                    {% endif %}
                 {% endif %}
            ></div>

            <div class="profile-circle">
                {% if display == "band" %}
                    {%if band.profile_image %}
                        <img src="{{band.profile_thumbnail.url}}">
                    {%else %}
                        {%if event.venue.profile_image %}
                            <img src="{{event.venue.profile_thumbnail.url}}">
                        {%else %}
                            <img src="{% static "img/venue-icon.png" %}">
                        {% endif %}
                    {% endif %}
                {% else %}
                    {%if event.venue.profile_image %}
                        <img src="{{event.venue.profile_thumbnail.url}}">
                    {%else %}
                        {%if band.profile_image %}
                            <img src="{{band.profile_thumbnail.url}}">
                        {%else %}
                            <img src="{% static "img/venue-icon.png" %}">
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>

            {% endwith %}

            <div class="large-padding">
                <div class="row">
                    <div class="col-md-6 desc-title text-left" id="event-title">{{event}}</div>
                    <div class="col-md-6 desc-title text-right" id="event-date"><strong><span class="right-margin">{{event.day|date:"d/m/Y"}} </span><i class="fa fa-clock-o"></i> <span id="event-time">{{event.time}}</span> </strong></div>
                </div>
                <p class="lead text-left" id="event-venue-title">{{event.venue_title}}<br><span id="event-venue-direction" class="sub">{{event.venue_direction}}</span></p>
                <p class="text-left margin-top" id="event-description">{{event.description}}</p>

                <div class="row">

                    <div class="col-md-6">
                        {% if event.bands %}
                            <ul class="profile-list">
                            {% for band in event.bands.all %}
                                <a href="{% url 'band_detail' pk=band.pk %}"><li>
                                    <div class="profile-circle">
                                        {%if band.profile_image %} <img src="{{band.profile_image.url}}">{% endif %}
                                    </div>
                                    {{band}}<br><span class="sub">{{band.tag}}</span>
                                </li></a>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="col-md-6 margin-bottom margin-top">
                        {% if not event.price %}
                            <span class="desc-emphasis"><i class="fa fa-ticket" aria-hidden="true"></i> GRATIS</span>
                        {% else %}
                            <div class="price">
                                <strong>Precio</strong><br>
                                <div class="input-group">
                                    <span class="desc-emphasis">{{event.price}}€</span>
                                     <span class="input-group-addon">€</span>
                                </div>

                            </div>
                            {% if event.price_preorder %}
                            <div class="price">
                                <strong>Anticipada</strong><br>
                                <span class="desc-emphasis">{{event.price_preorder}}€</span>
                            </div>
                            {% endif %}
                            {% if event.ticket_link %}
                            <div class="text-center margin-top">
                                <a class="btn btn-primary btn-lg" target="_blank" href="{{event.ticket_link}}" role="button"><i class="fa fa-ticket right-margin" aria-hidden="true"></i>Comprar entradas</a>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="band-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Elige banda a añadir</h4>
      </div>
      <div class="modal-body large-padding">
              <div id="bands-list" data-initial="{% url 'bands_list' %}" data-preservehistory="true">
            <div class="results">

                </div>
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
            <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="venue-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Elige el espacio del concierto</h4>
      </div>
      <div class="modal-body large-padding">
              <ul class="row profile-list">
                    {% for venue in venues %}
                  <a href="#" class="col-md-6 select-venue">
                    {% include 'venue/_list_elem.html' with venue=venue %}
                    </a>
                      {% endfor %}

                </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
<script type="text/javascript">
    var day = $('input[name="day"]');

    day.daterangepicker({
        singleDatePicker: true,
        showDropdowns:false,
        locale: {
            format: 'DD/MM/YYYY'
        }
    });

    var endDate = $('input[name="end_date"]');
    var preselectDate = $('input[name="preselect_date"]');
    var selectResults = $('#search_results');

    $('#dateRangeBtn').on('click', function(){
        daterange.focus();
    });

var list = $('#bands-list');
var selected = $('#bands-selected');
var venueSelected = $('#venue-selected');
var bandModal = $('#band-modal');
var venueModal = $('#venue-modal');
var bandsInput = $('input[name="event_bands"]');
var venueInput = $('input[name="venue"]');

loadPaginationAjax(list);
list.find('.results').on('click', '.resume-card-container > a', function(e){
    e.preventDefault();
    var band = $(this);
    var elem = $('<li></li>')
                    .attr('data-id', band.attr('data-id'))
                    .append(band.find('.profile-circle').clone())
                    .append(band.find('.profile-title').text())
                    .append('<br>')
                    .append('<span class="sub">' + band.find('.profile-desc').text() + '</span>')
    selected.prepend(elem);
    bandModal.modal('hide');
});

$('#event-form').on('submit', function(e){
    var ids = selected.find('li').map(function(){
        return $(this).attr('data-id');
    }).get();
    bandsInput.val(ids.join(','));
});

venueModal.find('.select-venue').on('click', function(){
    var venue = $(this).find('li');
    var venueId = venue.attr('data-id');
    venueSelected
        .find('li[data-id]').remove().end()
        .find('a')
            .find('.default-add').hide().end()
            .append(venue.clone())
    venueModal.modal('hide');
    venueInput.val(venueId);
});

</script>
{% endblock scripts %}