{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% block title %}Agenda{% endblock%}

{% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Agenda | {% settings_value "MAIN_PAGE_TITLE" %}">
        <meta name="twitter:description" content="Todos la agenda musical de Alcalá de Henares y de los grupos alcalaínos">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "img/logo_banner.jpg" %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Agenda | {% settings_value "MAIN_PAGE_TITLE" %}" />
        <meta property="og:description" content="Todos la agenda musical de Alcalá de Henares y de los grupos alcalaínos" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "img/logo_banner.jpg" %}" />

        <link rel="alternate" type="application/rss+xml" title="{% settings_value "MAIN_PAGE_TITLE" %} &gt; Próximos conciertos" href="{% url 'event_feed' %}" />
{% endblock %}

{% block bodyattrs %}class="event schedule"{% endblock%}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/daterangepicker.css" %}?v=2"/>
{% endblock extra_styles %}

{% block main_content %}
<div class="jumbo-header minimal">
    <div class="jumbotron">
      <div class="container text-center">
            <h1>Agenda</h1>
      </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-2 events-searchbox panel">
            <i class="fa fa-search panel-icon hidden-md hidden-lg" aria-hidden="true" data-toggle="collapse" data-target="#event-filter" aria-expanded="false" aria-controls="event-filter"></i>
            <i class="fa fa-search panel-icon hidden-xs hidden-sm" aria-hidden="true" ></i>
            <form id="event-filter" class="top-padding collapse" action="{% url 'events_schedule' %}">

                <div class="filter margin-top">
                    <input class="form-control" id="search" value="{{query_string}}" type="text" name="q" placeholder="Buscar...">
                </div>

                <div class="filter">
                    <div class="secondary header-bar"> <h5><i class="fa fa-share-alt right-margin" aria-hidden="true"></i> Por fecha</h5> </div>

      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn {%if not date_filter %}active{%endif%}">
          <input type="radio" id="this_week" data-startdate={{dates.thisweek_start|date:"d/m/Y"}} name="preselect_date" data-enddate="{{dates.thisweek_end|date:"d/m/Y"}}" {%if not date_filter %}checked{%endif%}><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> <span> Esta semana</span>
        </label>
        <label class="btn">
          <input type="radio" id="next_week" data-startdate={{dates.nextweek_start|date:"d/m/Y"}} name="preselect_date" data-enddate="{{dates.nextweek_end|date:"d/m/Y"}}"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> Próxima semana</span>
        </label>
      </div>

                    <div class="btn-group">
                    <a class="btn {%if not date_filter %}collapsed{%endif%} advancefilter" role="button" data-toggle="collapse" href="#advancedDateFilter" aria-expanded="false" aria-controls="advancedDateFilter">
  <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i> Avanzado
</a>
                        </div>
                    <div class="collapse {%if date_filter %}in{%endif%}" id="advancedDateFilter">

                        <div class="input-group">
                          <input class="form-control" id="dateRange" type="text" name="date_range" placeholder="Desde - hasta...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" id="dateRangeBtn" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                          </span>
                        </div>


                        <input type="hidden" name="start_date" value="{{dates.start_date|date:"d/m/Y"}}">
                        <input type="hidden" name="end_date" value="{{dates.end_date|date:"d/m/Y"}}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12"><div class="secondary header-bar"> <h5><i class="fa fa-share-alt right-margin" aria-hidden="true"></i> Por espacio</h5> </div></div>

                </div>
                <div class="row">
                    <div class="filter">
                    <div class="col-sm-6 col-md-12">


                            <select class="form-control"  id="venue_select" name="venue">
                                <option value="" {% if not venue_filter %} selected {% endif %}>----</option>
                                {% for venue in venues %}
                                {% with venue.pk|slugify as venue_pk %}
                                <option value="{{venue.pk}}" {%if venue_filter == venue_pk %} selected {%endif%}>{{venue.name}}</option>
                                {% endwith %}
                                {% endfor %}
                            </select>

                    </div>

                    <div class="col-sm-6 col-md-12">

                            <div class="btn-group btn-group-vertical" data-toggle="buttons">
                        <label class="btn {%if external %}active{%endif%}">
                          <input class="form-control" id="external" value="true" type="checkbox" name="external" {% if external %}checked{%endif%}>
                            <i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i> <span>Incluir externos</span>
                        </label>
                      </div>

                    </div>
                    </div>


                </div>

                <div class="text-center filter">
                    <input type="submit" id="searchButton" class="btn btn-block btn-large btn-primary" value="Buscar">
                    <br>
                </div>

            </form>
        </div>

        <div class="col-md-9 col-lg-10" id="search_results">
            <div class="results">
                {% include 'event/search_results.html' with events=events %}
            </div>
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/daterangepicker.js" %}?v=2"></script>
<script type="text/javascript">
    var startDate = $('input[name="start_date"]');
    var endDate = $('input[name="end_date"]');
    var preselectDate = $('input[name="preselect_date"]');
    var selectResults = $('#search_results');

    preselectDate.on('change', function(){
        var selected = $(this);
        daterange.data('daterangepicker').setStartDate(selected.attr('data-startdate'));
        daterange.data('daterangepicker').setEndDate(selected.attr('data-enddate'));
        startDate.val(selected.attr('data-startdate'));
        endDate.val(selected.attr('data-enddate'));
        refreshResults();
    });

    var daterange = $('#dateRange').daterangepicker({
        startDate: startDate.val(),
        endDate: endDate.val(),
        cancelClass: 'hidden',
        "locale": calendarLocale
    }, function(start, end, label){
        preselectDate.prop("checked", false).parent().removeClass('active');
        startDate.val(start.format('DD/MM/YYYY'));
        endDate.val(end.format('DD/MM/YYYY'));
        refreshResults();
    });

    $('#dateRangeBtn').on('click', function(){
        daterange.focus();
    });

    function refreshResults(){
        var url = form.attr('action') + '?' + form.serialize();
        loadResults(selectResults, url);
    }

    $('input[name="external"]').on('change', refreshResults);

    var form = $('form#event-filter');
    form.on('submit', function(e){
        e.preventDefault();
        refreshResults();
    });
    loadPaginationAjax(selectResults);

</script>
{% endblock scripts %}