{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Conciertos en {{venue.name}} - Alcalá es Música{% endblock%}

{% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@aemusica">
        <meta name="twitter:title" content="{{venue.name}} - Alcalá Suena: Fiesta de la Música 2017">
        <meta name="twitter:description" content="Todos los conciertos en {{venue.name}} durante Alcalá Suena: Fiesta de la Música 2017">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if venue.image %}{{venue.image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{venue.name}} - Alcalá Suena: Fiesta de la Música 2017" />
        <meta property="og:description" content="Todos los conciertos en {{venue.name}} durante Alcalá Suena: Fiesta de la Música 2017" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if venue.image %}{{venue.image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}" />
{% endblock %}

{% block bodyattrs %}class="event"{% endblock%}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/daterangepicker.css" %}"/>
{% endblock extra_styles %}

{% block content %}
<div class="jumbo-header minimal">
    <div class="jumbotron">
      <div class="container text-center">
            <h1>Agenda</h1>
      </div>
    </div>
</div>

<div class="container">
    <div class="row margin-top">
        <div class="col-md-3 col-lg-2 events-searchbox panel">
            <i class="fa fa-search panel-icon" aria-hidden="true"></i>
            <form id="event-filter">

                <div class="filter">
                    <label for="venue_select">Por fecha</label>

      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn active">
          <input type="radio" id="this_week" data-startdate={{dates.thisweek_start}} data-enddate="{{dates.thisweek_end}}" name="date_end" checked><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> <span> Esta semana</span>
        </label>
        <label class="btn">
          <input type="radio" id="next_week" data-startdate={{dates.nextweek_start}} data-enddate="{{dates.nextweek_end}}" name="date_end"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> Próxima semana</span>
        </label>
      </div>

                    <a class="btn collapsed" role="button" data-toggle="collapse" href="#advancedDateFilter" aria-expanded="false" aria-controls="advancedDateFilter">
  Avanzado
</a>
                    <div class="collapse" id="advancedDateFilter">
                        <input class="form-control"  type="text" name="date_start" placeholder="Desde">
                        <input class="form-control"  type="text" name="date_end" placeholder="Hasta">
                    </div>
                </div>

                <div class="filter">
                    <label for="venue_select">Por espacio</label>
                    <select class="form-control"  id="venue_select" name="venue">
                        <option value="" {% if not venue_filter %} selected {% endif %}>----</option>
                        {% for venue in venues %}
                        {% with venue.pk|slugify as venue_pk %}
                        <option value="{{venue.pk}}" {%if venue_filter == venue_pk %} selected {%endif%}>{{venue.name}}</option>
                        {% endwith %}
                        {% endfor %}
                    </select>
                </div>

                <div class="filter">
                    <label for="venue_select">Por etiqueta</label>
                    <select class="form-control" id="tag_select" name="tag">
                        <option value="" {% if not tag_filter %} selected {% endif %}>----</option>
                        {% for tag in tags %}
                        <option value="{{venue.pk}}" {%if tag_filter == tag.pk %} selected {%endif%}>{{tag.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <input type="submit" class="btn btn-large btn-primary" value="Buscar">
            </form>
        </div>

        <div class="col-md-9 col-lg-10">{% include 'event/search_results.html' with events=events %}</div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
<script type="text/javascript">

</script>
{% endblock scripts %}