{% extends 'registration/password_base.html' %}

{% block passwordcontent %}
<div class="text-center">
    <i class="fa fa-check-square-o fa-4x text-secondary" aria-hidden="true"></i>

    <h4>Restablecimiento de contraseña enviado</h4>
    <p>
        Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
    <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.
    </p>
</div>




{% endblock %}