{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% load l10n %}

{% block title %}{{pro.name}}{% endblock%}
{% block bodyattrs %}{%if view %} class="{{view}}"{%endif%}{% endblock%}

{% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{pro.name}} | {% settings_value "MAIN_PAGE_TITLE" %}">
        <meta name="twitter:description" content="{{pro.description}}">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if band.profile_image %}{{band.profile_image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{pro.name}} | {% settings_value "MAIN_PAGE_TITLE" %}" />
        <meta property="og:description" content="{{pro.description}}" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if band.profile_image %}{{band.profile_image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}" />
{% endblock %}

{% block extra_styles %}<style> .embed iframe{ width:100% !important; max-width:100%; } </style>{% endblock extra_styles %}

{% block main_content %}
<div class="jumbo-header jumbo-band" {% if pro.image %} style="background-image:url('{{pro.image.url}}')" {% endif %}>
    <div class="jumbotron"></div>
</div>

<div class="header-bar profile header-band">
    <div class="container">
        <div class="profile-circle">{%if pro.profile_image %} <img src="{{pro.profile_thumbnail.url}}">{% endif %}</div>
        <h1>{{pro.name}}</h1>
        <p class="description">{% for tag in pro.tags.all %}{{tag.name}}{% if not forloop.last %} · {%endif%} {% endfor %}</p>

        <div class="menu">
            {% if can_edit %} <a class="fab smoothscroll" href="{% url 'pro_edit' pk=pro.pk %}" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a> {% endif %}
        </div>
    </div>
</div>

<div class="container">

    <div class="panel">
    <div class="row">
        <div class="col-md-7">
            <div class="description">
                {% if pro.embed_code %} <div class="embed">{{pro.embed_media|safe}} </div> {% endif %}
                <p>{{pro.description|linebreaks}}</p>
                {% include 'common/social_links.html' with obj=pro %}
            </div>
        </div>
        <div class="col-md-5">

            <div id="map" class="map loading-container">
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div class="description">
                {% if pro.embed_code %} <div class="embed">{{pro.embed_code|safe}} </div>{% endif %}
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
{% include 'common/include_gmaps.html' %}
<script>
  function initMap() {
    var markerPosition = new google.maps.LatLng({{ pro.latitude|unlocalize }}, {{ pro.longitude|unlocalize }});
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: markerPosition,
        zoomControl: false,
        scaleControl: true,
        streetViewControl: false,
        scaleControl:false,
        mapTypeControl:false
    });

    $('#map').removeClass('loading-container');

    var marker = new RichMarker({
      position: markerPosition,
      map: map,
      content: '<div class="marker-wrapper" style="color:{{pro.tags.last.color}};"><div class="marker"><img src="' + '{%if pro.profile_image %}{{pro.profile_thumbnail.url}}{%else%}{% static "img/venue-icon.png" %}{%endif%}' + '"></div></div>'
    });
  }
</script>

{% endblock %}