{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{band.name}}{% endblock%}
{% block bodyattrs %}{%if view %} class="{{view}}"{%endif%}{% endblock%}

{% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{band.name}} - Alcalá Suena: Fiesta de la Música 2017">
        <meta name="twitter:description" content="{{ events.first.day|date:"l d F" }}, {{events.first.time}} - {{events.first.venue.name}}">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if band.profile_image %}{{band.profile_image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{band.name}} - Alcalá Suena: Fiesta de la Música 2017" />
        <meta property="og:description" content="{{ events.first.day|date:"l d F" }}, {{events.first.time}} - {{events.first.venue.name}}" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if band.profile_image %}{{band.profile_image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}" />
{% endblock %}

{% block extra_styles %}<style> .embed iframe{ width:100% !important; max-width:100%; } </style>{% endblock extra_styles %}

{% block content %}
<div class="jumbo-header jumbo-band" {% if band.band_image %} style="background-image:url('{{band.band_image.url}}')" {% endif %}>
    <div class="jumbotron"></div>
</div>

<div class="header-bar profile header-band">
    <div class="container">
        <div class="profile-circle">{%if band.profile_image %} <img src="{{band.profile_image.url}}">{% endif %}</div>
        <h1>{{band.name}}</h1>
        <p class="description">{{band.tag.name}}</p>

        <div class="menu">
            {% if events %}
                <a class="fab smoothscroll" href="#events" data-toggle="tooltip" data-placement="bottom" title="Ver conciertos"><i class="fa fa-music" aria-hidden="true" ></i></a>
            {% endif %}
            {% if can_edit %} <a class="fab smoothscroll" href="#" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a> {% endif %}
        </div>
    </div>
</div>

<div class="container {% if events or can_edit %} top-padding {%endif%}">

    <div class="row">
        <div class="col-md-7">
            {% if band.embed_code %} <div class="embed">{{band.embed_media|safe}} </div> {% endif %}
            <p>{{band.description|linebreaks}}</p>
            {%if band.genre %}<h5><strong>Estilo:</strong> {{band.genre}}</h5>{% endif %}
            {%if band.city %}<h5><strong>Procedencia:</strong> {{band.city}}</h5>{% endif %}
            {% include 'common/social_links.html' with obj=band %}
        </div>
        <div class="col-md-5">
            {% if band.embed_code %} <div class="embed">{{band.embed_code|safe}} </div>{% endif %}
            <a id="events" name="events"></a>
            <div class="secondary header-bar margin-top"> <h4><i class="fa fa-music right-margin" aria-hidden="true"></i> Próximos conciertos</h4> </div>
            {% if events %}

                {% include 'event/_event_list.html' with events=events list_type='list' display='venue' %}
            {% else %}
                <div class="margin-top margin-bottom">No hay conciertos programados actualmente...</div>
            {% endif %}

        </div>

    </div>

</div>
{% endblock %}