{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{band.name}} en Alcala Suena 2017{% endblock%}
{% block bodyattrs %}{%if view %} class="{{view}}"{%endif%}{% endblock%}

{% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@aemusica">
        <meta name="twitter:title" content="{{band.name}} - Alcalá Suena: Fiesta de la Música 2017">
        <meta name="twitter:description" content="{{ events.first.day|date:"l d F" }}, {{events.first.time}} - {{events.first.venue.name}}">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if band.profile_image %}{{band.profile_image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{band.name}} - Alcalá Suena: Fiesta de la Música 2017" />
        <meta property="og:description" content="{{ events.first.day|date:"l d F" }}, {{events.first.time}} - {{events.first.venue.name}}" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if band.profile_image %}{{band.profile_image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}" />
{% endblock %}

{% block extra_styles %}<style> .embed iframe{ width:100% !important; max-width:100%; } </style>{% endblock extra_styles %}

{% block content %}
<div class="jumbo-header jumbo-band" {% if band.band_image %} style="background-image:url('{{band.band_image.url}}')" {% endif %}>
    <div class="jumbotron"></div>
</div>

<div class="header-bar header-band">
    <div class="container">
        <div class="profile-circle">{%if band.profile_image %} <img src="{{band.profile_image.url}}">{% endif %}</div>
        <h1>{{band.name}}</h1>
        <p class="description">{{band.tag.name}}</p>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-7">
            {% if band.embed_code %} <div class="embed">{{band.embed_media|safe}} </div> {% endif %}
            <p>{{band.description|linebreaks}}</p>
            {%if band.genre %}<h5><strong>Estilo:</strong> {{band.genre}}</h5>{% endif %}
            {%if band.city %}<h5><strong>Procedencia:</strong> {{band.city}}</h5>{% endif %}
            <div class="social-links">
                {%if band.facebook_link %} <a href="{{band.facebook_link}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Página de Facebook" class="card"><i class="fa fa-facebook" aria-hidden="true"></i></a> {% endif %}
                {%if band.twitter_link %} <a href="{{band.twitter_link}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Perfil de Twitter" class="card"><i class="fa fa-twitter" aria-hidden="true"></i></a> {% endif %}
                {%if band.bandcamp_link %} <a href="{{band.bandcamp_link}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Página de Bandcamp" class="card"><i class="fa fa-bandcamp" aria-hidden="true"></i></a> {% endif %}
                {%if band.youtube_link %} <a href="{{band.youtube_link}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Canal de Youtube" class="card"><i class="fa fa-youtube" aria-hidden="true"></i></a> {% endif %}
                {%if band.spotify_link %} <a href="{{band.spotify_link}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Perfil de Spotify" class="card"><i class="fa fa-spotify" aria-hidden="true"></i></a> {% endif %}
                {%if band.webpage_link %} <a href="{{band.webpage_link}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Página web" class="card"><i class="fa fa-globe" aria-hidden="true"></i></a> {% endif %}
                {%if band.presskit_link %} <a href="{{band.presskit_link}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Presskit" class="card"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a> {% endif %}
            </div>
        </div>
        <div class="col-md-5">
            {% if band.embed_code %} <div class="embed">{{band.embed_code|safe}} </div>{% endif %}
            {% if events %}
                <div class="secondary header-bar margin-top"> <h4><i class="fa fa-music right-margin" aria-hidden="true"></i> Próximos conciertos</h4> </div>
                {% include 'event/_event_list.html' with events=events list_type='list' display='venue' %}
            {% endif %}

        </div>

    </div>

</div>
{% endblock %}