{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Bandas{% endblock%}


{% block content %}
<div class="jumbo-header jumbo-band" >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>BANDAS</h1>
        <p class="description">Un festival participativo con más de 140 grupos actuando en calles y plazas del Casco Histórico de Alcalá, Patromonio de la Humanidad</p>
      </div>
    </div>
</div>
<div class="header-bar text-center header-band">

</div>

<div class="container">

    <div class="clearfix tags margin-bottom text-center">
        {%for tag in tags %}
            <div class="tag-filter card" style="border-color:{{tag.color}}" data-tag="{{tag.id}}">{{tag.name}}</div>
        {% endfor %}
    </div>

    <div id="bands-list">
        <div class="results">
            {% include 'band/search_results.html' with bands=bands %}
        </div>
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
        <span class="sr-only">Loading...</span>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/jquery.mosaicflow.min.js" %}"></script>
<script type="text/javascript">

var tags = $('.tags');
var list = $('#bands-list');
tags.on('click', '.tag-filter', function(){
    var tag = $(this);
    if (tag.hasClass('active')){
        tag.removeClass('active');
        tags.removeClass('filtered');
        loadResults(list, '?');
    }
    else{
        tags.addClass('filtered').find('.tag-filter').removeClass('active');
        tag.addClass('active');
        var filter = tag.attr('data-tag');
        loadResults(list, '?tag=' + filter);
    }
});

loadPaginationAjax(list);


</script>
{% endblock %}