{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Mis conciertos{% endblock%}

{% block bodyattrs %}class="event schedule"{% endblock%}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/daterangepicker.css" %}"/>
{% endblock extra_styles %}

{% block main_content %}
<div class="jumbo-header minimal">
    <div class="jumbotron">
      <div class="container text-center">
            <h2>Mis conciertos</h2>
      </div>
    </div>
</div>

<div class="container margin-top">

    <div class="row">
        <div class="col-md-8">
            {% if events %}
                {% include 'event/_event_list.html' with events=events list_type='list' display='venue' %}
            {% else %}
                <p class="lead well text-center">
                    <i class="fa fa-clock-o" aria-hidden="true"></i><br>
                    <span>No tienes ningún concierto programado...</span><br><br>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Ver mi historial de conciertos pasados</a>
                </p>
            {% endif %}
        </div>
        <div class="col-md-4 margin-top">

            <div class="text-center margin-bottom"><i class="fa fa-info-circle fa-3x" aria-hidden="true"></i></div>
            Aquí aparecen los conciertos programados por ti que ya han pasado, y por lo tanto no se pueden editar. Para ver los conciertos
            creados por ti que están pendientes, ve a <a href="{% url 'user_events' %}"><strong> Mis conciertos</strong></a><br><br>

            {% if manage_event %}
                <i class="fa fa-check " aria-hidden="true"></i> Tienes permisos para crear nuevos conciertos<br><br>
                <a class="btn btn-primary btn-lg" href="{% url 'event_add' %}" role="button">Crear nuevo concierto</a>
            {% endif %}

        </div>
    </div>



</div>

{% endblock %}