{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% block title %}Espacios{% endblock%}

{% block content %}
<div class="jumbo-header minimal" style="background-image:url('{% static "img/venues-header.jpg" %}')" >
    <div class="jumbotron">
    </div>
</div>
<div class="header-bar profile header-band">
    <div class="container">
        <div class="profile-circle"> <img src="{% static "img/pro-icon.png" %}">}</div>
        <h1>{{request.user.username}}</h1>
        <p class="description">{{request.user.first_name}} {{request.user.last_name}}</p>

        <div class="menu">
           <a class="fab smoothscroll" href="#" data-toggle="tooltip" data-placement="bottom" title="Editar perfil"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<div class="container">
<div class="row dashboard">
    <div class="col-md-6">
        {% if manage_venue %}
            <h1>Mi espacio</h1>
            {% if prompt_new_venue %}
                Todavía no tienes? Créalo!
            {% else %}
                <div class="list-group">
                    <div class="list-group-header" {% if venue.image %} style="background-image:url('{{venue.image.url}}')" {% endif %}>
                        <h3>{{venue.name}}</h3>
                        {{venue.address}}
                    </div>
                    <a class="list-group-item" href="{% url 'venue_detail' pk=venue.pk %}"><i class="fa fa-eye right-margin" aria-hidden="true"></i> Ver perfil público del espacio</a>
                    <a class="list-group-item" href="{% url 'venue_edit' pk=venue.pk %}"><i class="fa fa-pencil right-margin" aria-hidden="true"></i> Editar espacio</a>
                    <a class="list-group-item" href="{% url 'venue_history' pk=venue.pk %}"><i class="fa fa-music right-margin" aria-hidden="true"></i> Historial de conciertos en el espacio</a>
                </div>

            {% endif %}
        {% else %}

        {% endif %}
    </div>
    <div class="col-md-6">
        {% if manage_event %}
            <h1>Conciertos</h1>
            <div class="list-group">
                <div class="list-group-header" style="background-image:url('{% static "img/band-header.jpg" %}')">

                    </div>
                <a class="list-group-item" href="{% url 'event_add' %}"><i class="fa fa-plus right-margin" aria-hidden="true"></i> Crear concierto</a>
              <a class="list-group-item" href="{% url 'user_events' %}"><i class="fa fa-music right-margin" aria-hidden="true"></i> Conciertos programados</a>
                <a class="list-group-item" href="{% url 'user_history' %}"><i class="fa fa-history right-margin" aria-hidden="true"></i> Mis conciertos pasados</a>


            </div>
        {% endif %}
    </div>

</div>
</div>

{% endblock %}