{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}Conciertos en {{venue.name}}{% endblock%}

{% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{venue.name}} - Alcalá Suena: Fiesta de la Música 2017">
        <meta name="twitter:description" content="Todos los conciertos en {{venue.name}} durante Alcalá Suena: Fiesta de la Música 2017">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if venue.image %}{{venue.image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{venue.name}} - Alcalá Suena: Fiesta de la Música 2017" />
        <meta property="og:description" content="Todos los conciertos en {{venue.name}} durante Alcalá Suena: Fiesta de la Música 2017" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if venue.image %}{{venue.image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}" />
{% endblock %}

{% block bodyattrs %}class="venue"{% endblock%}

{% block content %}
<div class="jumbo-header jumbo-venue" {% if venue.image %} style="background-image:url('{{venue.image.url}}')" {% endif %}>
    <div class="jumbotron">
    </div>
</div>
<div class="header-bar header-venue">
    <div class="container">
        <div class="profile-circle">{%if venue.profile_image %} <img src="{{venue.profile_image.url}}">{% endif %}</div>
        <h1>{{venue.name}}</h1>
        <p class="description">{{venue.address}}</p>

        <div class="menu">
            <a class="fab smoothscroll" href="#info" data-toggle="tooltip" data-placement="bottom" title="Ver información"><i class="fa fa-info" aria-hidden="true" ></i></a>
            <a class="fab smoothscroll" href="{% url 'venue_history' pk=venue.pk %}" data-toggle="tooltip" data-placement="bottom" title="Ver historial de conciertos"><i class="fa fa-history" aria-hidden="true" ></i></a>
            {% if can_edit %} <a class="fab smoothscroll" href="#" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a> {% endif %}
        </div>
    </div>
</div>


<div class="container">
    {% if events %}
        {% include 'event/_event_list.html' with events=events list_type='carousel' display='band' %}
    {% else %}
        <p class="lead well text-center">
            <i class="fa fa-clock-o" aria-hidden="true"></i><br>
            <span>No hay conciertos programados actualmente para esta sala...</span><br><br>
            <a class="btn btn-primary btn-lg" href="{% url 'venue_history' pk=venue.pk %}" role="button">Ver historial de conciertos de la sala</a>
        </p>

    {% endif %}

    <a id="info" name="info"></a>
    <hr>

    <div class="panel">
        <i class="fa fa-info panel-icon" aria-hidden="true"></i>
        <div class="size-check visible-md-block visible-lg-block"></div>
        <div class="row">
            <div class="col-md-7">
                <div class="description">
                    <h3>{{venue.name}}</h3>
                    <p>{{ venue.description|linebreaks }}</p>
                    <strong>Dirección</strong>
                    <p class="lead">{{ venue.address }}</p>
                    {% include 'common/social_links.html' with obj=venue %}
                </div>
            </div>
            <div class="col-md-5">
                <div id="map" class="map"></div>
            </div>
        </div>

    </div>

</div>

{% endblock %}

{% block scripts %}
<script>
  function initMap() {
    var uluru = {lat: {{ venue.latitude|unlocalize }}, lng: {{ venue.longitude|unlocalize }} };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru,
      zoomControl: false,
        scaleControl: true,
        streetViewControl: false,
        scaleControl:false,
        mapTypeControl:false
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map,

    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key={% settings_value "GMAPS_APIKEY" %}&callback=initMap">
</script>

{% endblock %}