{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Alcalá Suena: Fiesta de la Música 2017{% endblock%}

{% block home_header %}
    <div class="jumbo-header home" style="background-image:url('{% static "img/band-bg.jpg" %}')">
        <div class="jumbotron">
          <div class="container text-center">
              <h1>Alcalá es Música</h1>
                <a class="showmore smoothscroll" href="#more"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
          </div>
        </div>
    </div>

<a name="more" id="more"></a>
<section class="header-bar no-margin">
</section>
{% endblock %}

{% block content %}
<section class="home-content">

    <div class="container main card">
        <div class="text-center"><h3>Próximos conciertos</h3></div>
        {% if events %}
            {% include 'event/_event_list.html' with events=events list_type='carousel' display='venue' %}
        {% else %}
        <p class="lead well text-center">
            <i class="fa fa-clock-o" aria-hidden="true"></i><br>
            <span>No hay conciertos programados actualmente...</span><br><br>
        </p>

    {% endif %}

    </div> <!-- /container -->

<div class="header-bar text-center top-padding">
    <div class="container">
        <h1 class="margin-top">Quiénes somos</h1>
    </div>
</div>

    <div class="container large-padding" style="font-size:1.1em;">
        <p>
        Alcalá Es Música es una asociación que tiene las puertas abiertas a todos los músicos, grupos, profesionales y empresas del sector, artistas amateur, locales, espacios, hosteleros, instituciones públicas, formadores en el ámbito musical, amantes de las música, radios, productoras... que quieran colaborar conjuntamente para realizar, organizar o participar en conciertos, festivales, generar espacios, promocionar su talento o su trabajo, y lo más importante, intentar generar en nuestra ciudad un eco-sistema idóneo para todos los trabajadores y aficionados a la música, y conseguir que institucionalmente se incluya a los artistas como parte y valor añadido de su patrimonio cultural. No hay que olvidar nunca que la MÚSICA es CULTURA
        </p>
        <p>
        También queremos unificar a todos los músicos y propuestas de la ciudad en una plataforma común, que pueda facilitar la colaboración y aumentar el valor de los grupos y profesionales, ademas de servir como punto de referencia para los programadores de la zona. Tampoco hay que olvidar que la MÚSICA es TRABAJO.
        </p>
        <p>
Esta asociación a día de hoy es una pizarra en blanco, con algunas lineas pintadas, en la que queremos contar con la ayuda y las ideas de todos aquellos que tengan algo que aportar o que quieran colaborar o aprovechar proyectos creados desde los propios músicos, en todos los ámbitos, grados o estilos.
        </p>
    </div>
</section>
{% endblock %}