{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Alcalá Suena: Fiesta de la Música 2017{% endblock%}

{% block home_header %}
    <div class="jumbo-header home" style="background-image:url('{% static "img/band-bg.jpg" %}')">
        <div class="jumbotron">
          <div class="container text-center">
              <h1>Alcalá es Música</h1>
                <a class="showmore smoothscroll" href="#more"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
          </div>
        </div>
    </div>

<a name="more" id="more"></a>
<section class="header-bar no-margin">
</section>
{% endblock %}

{% block content %}
<section class="home-content">

    <div class="container main card">
        <div class="text-center"><h3>Próximos conciertos</h3></div>
        {% if events %}
            {% include 'event/_event_list.html' with events=events list_type='carousel' display='venue' %}
        {% else %}
        <p class="lead well text-center">
            <i class="fa fa-clock-o" aria-hidden="true"></i><br>
            <span>No hay conciertos programados actualmente para esta sala...</span><br><br>
            <a class="btn btn-primary btn-lg" href="{% url 'venue_history' pk=venue.pk %}" role="button">Ver historial de conciertos de la sala</a>
        </p>

    {% endif %}

    </div> <!-- /container -->
         </div>
</section>
{% endblock %}