{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}{% endblock%}

{% block home_header %}
    <div class="jumbo-header home" style="background-image:url('{% static "img/band-bg.jpg" %}')">
        <div class="jumbotron">
          <div class="container text-center">
              <h1>Alcalá es Música</h1>
                <a class="showmore smoothscroll" href="#more"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
          </div>
        </div>
    </div>

<a name="more" id="more"></a>
<section class="header-bar no-margin">
</section>
{% endblock %}

{% block main_content %}
<section class="home-content">

    <div class="container main card">
        <div class="text-center"><h3>Próximos conciertos</h3></div>
        {% if events %}
            {% include 'event/_event_list.html' with events=events list_type='carousel' display='venue' %}
        {% else %}
        <p class="lead well text-center">
            <i class="fa fa-clock-o" aria-hidden="true"></i><br>
            <span>No hay conciertos programados actualmente...</span><br><br>
        </p>

    {% endif %}

    </div> <!-- /container -->

<section id="map" class="loading-container" style="min-height:400px;">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
    <span class="sr-only">Loading...</span>

</section>

<div class="infowindow_base hidden">
    <a class="infowindow">
        <div class="profile-circle card">
            <img src="{% static "img/venue-icon.png" %}">
        </div>
        <span class="title"></span>
        <span class="address"></span>
        <span><strong class="events"> </strong> Conciertos</span>
    </a>
</div>

<div class="header-bar text-center top-padding">
    <div class="container">
        <h1 class="margin-top">Quiénes somos</h1>
    </div>
</div>

    <div class="container large-padding" style="font-size:1.1em;">
        <img class="img-responsive margin-bottom" src="{% static "img/alcalaesmusica-wide.png" %}">
        <p>
        Alcalá Es Música es una asociación que tiene las puertas abiertas a todos los músicos, grupos, profesionales y empresas del sector, artistas amateur, locales, espacios, hosteleros, instituciones públicas, formadores en el ámbito musical, amantes de las música, radios, productoras... que quieran colaborar conjuntamente para realizar, organizar o participar en conciertos, festivales, generar espacios, promocionar su talento o su trabajo, y lo más importante, intentar generar en nuestra ciudad un eco-sistema idóneo para todos los trabajadores y aficionados a la música, y conseguir que institucionalmente se incluya a los artistas como parte y valor añadido de su patrimonio cultural. No hay que olvidar nunca que la <strong> MÚSICA es CULTURA</strong>.
        </p>
        <p>
        También queremos unificar a todos los músicos y propuestas de la ciudad en una plataforma común, que pueda facilitar la colaboración y aumentar el valor de los grupos y profesionales, ademas de servir como punto de referencia para los programadores de la zona. Tampoco hay que olvidar que la <strong>MÚSICA es TRABAJO</strong>.
        </p>
        <p>
Esta asociación a día de hoy es una pizarra en blanco, con algunas lineas pintadas, en la que queremos contar con la ayuda y las ideas de todos aquellos que tengan algo que aportar o que quieran colaborar o aprovechar proyectos creados desde los propios músicos, en todos los ámbitos, grados o estilos.
        </p>
    </div>


<div class="header-bar text-center top-padding">
    <div class="container">
        <h1 class="margin-top">Proyectos</h1>
    </div>
</div>

    <div class="container large-padding">

        El solo ponernos de acuerdo, ser voluntaristas y aportar ideas, puede generar muchas sinergias, experimentos y proyectos colaborativos, que al final generen el objetivo de esta asociación... <strong> conciertos y más conciertos</strong>, para el gusto del público y para el desarrollo profesional de los músicos, y proyectos que ayuden a impulsar la industria cultural de la ciudad.
<br><br>
Estos son algunos de los proyectos en los que estamos trabajando ( o tenemos en cola...). Si te ves en alguno de ellos, puedes y quieres ayudar a su organización, o tienes más que aportar.... te estábamos esperando.

        <div class="row">
            <div class="col-md-6">
                <div class="embed-container">
                    <div class="canva-embed" data-height-ratio="0.5625" data-design-id="DACj9X28z_4" style="padding:56.25% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https://sdk.canva.com/v1/embed.js"></script>
                </div>
            </div>

            <div class="col-md-6">
                <div class="embed-container">
                    <div class="canva-embed" data-height-ratio="0.5625" data-design-id="DAClDMnGXgg" style="padding:56.25% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https://sdk.canva.com/v1/embed.js"></script>
                </div>
            </div>

            <div class="col-md-6">
                <div class="embed-container">
                    <div class="canva-embed" data-height-ratio="0.71" data-design-id="DACPP6IJ6I4" style="padding:71.25% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https://sdk.canva.com/v1/embed.js"></script>
              </div>
            </div>


        </div>
    </div>

</section>
{% endblock %}

{% block scripts %}
{% include 'common/include_gmaps.html' %}

<script type="text/javascript">
    var venue_dialog = $('#venue-dialog');
    var map_canvas = $('#map');
    var media_root = {{MEDIA_URL}};

    var infoWindow_base = $('.infowindow_base');
    var prev_infowindow = false;

    function initMap() {
        $.get('{% url "venues_map_info" %}?type=recent_events', function(markers){

            map = new google.maps.Map(map_canvas[0], {
                zoomControl: true,
                scaleControl: false,
                streetViewControl: false,
                scaleControl:false,
                mapTypeControl:false
            });
            map_canvas.removeClass('loading-container');

            var bounds = new google.maps.LatLngBounds();
            for (var i = 0; i < markers.length; i++) {

              var venuePosition = new google.maps.LatLng(markers[i].latitude, markers[i].longitude);
              var image = (markers[i].profile_image && markers[i].profile_image.length > 0)?
                            (media_root + markers[i].profile_image) : '{% static "img/venue-icon.png" %}';


              windowContent = infoWindow_base.clone()
                                .find('.title').text(markers[i].name).end()
                                .find('.address').text(markers[i].address).end()
                                .find('a').attr('href', '/venues/' + markers[i].id).end()
                                .find('.events').text(markers[i].eventscount).end()
                                .find('img').attr('src', image).end()


              // A new Info Window is created and set content
              var infowindow = new google.maps.InfoWindow({
                content: windowContent.html(),
                maxWidth: 350
              });

              var marker = new RichMarker({
                  position: venuePosition,
                  map: map,
                  content: '<div class="marker-wrapper"><div class="marker"><img src="' + image + '"></div></div>'
                });

                //extend the bounds to include each marker's position
                bounds.extend(marker.position);

              google.maps.event.addListener(marker, 'click', (function(marker,infowindow){
                    return function() {
                        if( prev_infowindow ) {
                           prev_infowindow.close();
                        }
                        prev_infowindow = infowindow;
                        infowindow.open(map,marker);
                    };
                })(marker,infowindow));

            }

            if (markers.length == 0){
                var centerPosition = new google.maps.LatLng({% settings_value "INITIAL_LATITUDE"|unlocalize %}, {% settings_value "INITIAL_LONGITUDE"|unlocalize %});
                map.setCenter(centerPosition);
                map.setZoom(16);
            }
            else{
                //now fit the map to the newly inclusive bounds
                map.fitBounds(bounds);
            }


        });

      }
        setTimeout(function(){
        console.log("AAA");
        $(window).trigger('resize');
        window.dispatchEvent(new Event('resize'));
      }, 500);
</script>
{% endblock scripts %}