{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% load l10n %}
{% load zinnia %}

{% block title %}Únete{% endblock title%}

{% block main_content %}

<div class="jumbo-header jumbo-band" xmlns="http://www.w3.org/1999/html">
    <div class="jumbotron" style="padding-top:65px;">
        <div class="container text-center">
                <h1>Únete</h1>

             <p class="description">
                Hazte soci@ y sé parte de Alcalá es Música
            </p>
        </div>
    </div>
</div>

<br class="hidden-xs hidden-sm">
<div class="container main card ">

    <div class="lead">
        Si quieres colaborar y apoyar el trabajo que la asociación realiza, participar directamente en todas las decisiones que se toman, aportar ideas y estar al día de todo lo que se cuece a nivel musical en nuestra ciudad y sus alrededores, hazte soci@. Solo tienes que seguir estos dos sencillos pasos:

        <div class="step">
            <span class="step-number">1</span>
            <h3>Rellena el formulario de registro</h3>
            <p>Así tendremos tus datos para contactar contigo cuando sea necesario y mantenerte informad@ de todas nuestras actividades.</p>
            <div class="text-center">
            <a href="{% url 'members:add_member' %}" class="btn btn-lg btn-primary"><i class="fa fa-pencil right-margin" aria-hidden="true"></i> Rellena el formulario</a>
              </div>
        </div>

        <div class="step">
            <span class="step-number">2</span>
            <h3>Elige tu cuota</h3>
            Nuestra asociación tiene una cuota simbólica de 1 €/mes (Teaming) para sufragar los gastos fijos que la mera existencia de la asociación genera. Si quieres y/o puedes poner una cuota superior, también es posible gracias a Mi Grano de Arena. La escena musical de Alcalá y sus alrededores te lo agradecerá. 😄

            <div class="row double-sep text-center" style="font-size:0.8em;">
                <div class="col-md-4">
                    <strong>Opción a)</strong> Regístrate en Teaming para la cuota de 1€/mes.
                    <br><br><br class="hidden-xs hidden-sm">
                    <a href="https://www.teaming.net/alcalaesmusica" target="_blank" class="btn btn-lg btn-primary red"><i class="fa fa-heart right-margin" aria-hidden="true"></i> Apúntate a Teaming</a>
                </div>

                <div class="col-md-8">
                    <strong>Opción b)</strong> regístrate en Mi Grano de Arena para elegir una cuota superior o hacer una donación puntual. Si eliges esta opción, podrás <a href="#" data-toggle="modal" data-target="#info-donaciones">desgravarte hasta el 80%</a> de la cuota o donación en tu próxima declaración de la renta.
                    <br><br>
                    <a href="https://www.migranodearena.org/usuario/alcala-es-musica" target="_blank" class="btn btn-lg btn-primary red"><i class="fa fa-heart-o right-margin" aria-hidden="true"></i> Mi Grano de Arena</a>

                </div>
            </div>
        </div>

    </div>

    <hr class="hidden-lg hidden-md">

    <h1 class="heading">QUÉ HACEMOS CON LAS CUOTAS DE SOCIO</h1>

    <div class="large-padding">
    <p>
        Alcalá es Música es una asociación sin ánimo de lucro que ha crecido mucho desde su fundación en 2015. Hoy por hoy, y con la cantidad de proyectos que promueve y gestiona, la asociación tiene una infraestructura necesaria para funcionar y, por tanto, ciertos gastos fijos como:
<ul>
    <li>Gestoría</li>
<li>Impuestos</li>
<li>Seguros de Responsabilidad Civil y Accidentes</li>
<li>Mantenimiento de cuenta bancaria</li>
<li>Mantenimiento de web y RR. SS.</li>
<li>Mentoría de estudiantes en prácticas (Grado de Comunicación Audiovisual)</li>
</ul>
El dinero que la asociación percibe por programar y realizar producciones de eventos para instituciones y empresas se reinvierte automáticamente en eventos, ya sea en los contratos y sueldos de las personas que trabajan en las mismas o en poder cuidar a los artistas y ofrecerles espacios cómodos, mejoras en los backline, comida o bebida, fotografías y vídeos de calidad, etc.
<br><br>
Por eso, la pequeña ayuda de nuestros socios nos permite continuar creando escena musical en Alcalá y alrededores y luchar por unas condiciones de trabajo y unas remuneraciones dignas para artistas y demás profesionales del mundo de la música.

    </p>
        </div>
</div>

<div class="header-bar text-center top-padding">
    <div class="container">
        <h1 class="margin-top">OTRAS FORMAS DE COLABORAR
</h1>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-md-4 top-padding">
            <i class="fa fa-bullhorn info-icon" aria-hidden="true"></i>
            <h3 class="heading">Ayúdanos en la comunicación</h3>
            <p class="lead">Apúntate a <a href="https://chat.whatsapp.com/DrqnvPrJnNJLqghdcPZDh3"  target="_blank"> esta lista de WhatsApp</a> y comparte la información de los conciertos que enviaremos por aquí con  tus contactos.
            <br>Comparte, da like y comenta nuestras publicaciones en RR.SS.
</p>
        </div>

        <div class="col-md-4 top-padding">
            <i class="fa fa-gears info-icon" aria-hidden="true"></i>
            <h3 class="heading">Busca mecenas o financiación</h3>
            <p class="lead">Disponemos de un dossier de patrocinio. Si quieres una copia o más información, contacta con nosotros en admin@alcalaesmusica.org
</p>
        </div>

        <div class="col-md-4 top-padding">
            <i class="fa fa-bank info-icon" aria-hidden="true"></i>
            <h3 class="heading">Ayúdanos a trabajar con otros municipios y empresas</h3>
            <p class="lead">Si tienes contacto con algún programador, municipio o gestor/a cultural de otro municipio para realizar eventos, puedes hacerle llegar nuestro dossier comercial. <span class="small">Pidenoslo a admin@alcalaesmusica.org</span>
</p>
        </div>
    </div>
    Si necesitas ayuda, escríbenos a admin@alcalaesmusica.org para ayudarte con la gestión.

</div>


<div class="modal fade" id="info-donaciones" tabindex="-1" role="dialog" aria-labelledby="modal-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-title">Desgravación en <strong>Mi Grano de Arena</strong></h4>
      </div>
      <div class="modal-body">
          <h4 class="heading text-left">Personas Físicas</h4>
Los primeros 250€ de donación dan derecho a una deducción del 80%.

A partir de 250€ tienes derecho a una deducción como mínimo del 40%. Y los donantes recurrentes* tienen derecho a una deducción del 45%.

          <h4 class="heading">Personas Jurídicas</h4>
Las empresas tienen derecho a una deducción del 45% de sus donaciones. Los donantes recurrentes* tienen derecho a una deducción del 50%.
<br><br>
Los donantes residentes en el País Vasco y Navarra pueden aplicar las deducciones previstas en la Norma Foral.
      </div>
    </div>
  </div>
</div>
{% endblock %}