<!DOCTYPE html>
{% load static settings_value %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Música{% endblock title%} | {% settings_value "MAIN_PAGE_TITLE" %}</title>
        <meta name="description" content=""/>
        <meta name="google-site-verification" content="N7Xgc8GUS6zcXmex86G3kav1P0osE_GGLKnpcxYv2qI" />

        <meta name="twitter:site" content="@aemusica">
        {% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="| {% settings_value "MAIN_PAGE_TITLE" %}">
        <meta name="twitter:description" content="Alcalá Es Música es una asociación que tiene las puertas abiertas a todos los músicos, grupos, profesionales y empresas del sector, artistas amateur, locales, espacios, hosteleros, instituciones públicas, formadores en el ámbito musical, amantes de las música, radios, productoras...  para  generar en nuestra ciudad un eco-sistema idóneo para todos los trabajadores y aficionados a la música">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "img/logo_banner.jpg" %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="| {% settings_value "MAIN_PAGE_TITLE" %}" />
        <meta property="og:description" content="Alcalá Es Música es una asociación que tiene las puertas abiertas a todos los músicos, grupos, profesionales y empresas del sector, artistas amateur, locales, espacios, hosteleros, instituciones públicas, formadores en el ámbito musical, amantes de las música, radios, productoras...  para  generar en nuestra ciudad un ecosistema idóneo para todos los trabajadores y aficionados a la música" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "img/logo_banner.jpg" %}" />
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link href="{% static "css/styles.css" %}?v=27" rel="stylesheet"/>
        {% block extra_styles %}{% endblock extra_styles %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={% settings_value "ANALYTICS_KEY" %}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{% settings_value "ANALYTICS_KEY" %}');
        </script>
    </head>

    <body {% block bodyattrs %}{% endblock%}>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'index' %}"><img class="img-responsive" src="{% static "img/alcalaesmusica-mini.png" %}"></a>
                <span class="navbar-brand-text hidden-sm hidden-md hidden-lg">Alcalá<span class="secondary-color">Es</span>Música</span>
            </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li {% if request.resolver_match.url_name == "zinnia:entry_archive_index" %}class="active"{% endif %} {% if request.path == "/blog/" %}class="active"{% endif %}><a href="{% url 'zinnia:entry_archive_index' %}">Noticias</a></li>
                    <li {% if request.resolver_match.url_name == "venues_list" %}class="active"{% endif %}><a href="{% url 'venues_list' %}">Espacios</a></li>
                    <li {% if request.resolver_match.url_name == "bands_list" %}class="active"{% endif %}><a href="{% url 'bands_list' %}">Bandas</a></li>
                    <li {% if request.resolver_match.url_name == "events_schedule" %}class="active"{% endif %}><a href="{% url 'events_schedule' %}">Agenda</a></li>
                    <!--<li {% if request.resolver_match.url_name == "pros_list" %}class="active"{% endif %}><a href="{% url 'pros_list' %}">Profesionales</a></li>-->
                      <li {% if request.resolver_match.url_name == "microsite_list" %}class="active"{% endif %}><a href="{% url 'microsite_list' %}">Ciclos y festivales</a></li>
                      <li {% if request.resolver_match.url_name == "members:bot_info" %}class="active"{% endif %}><a href="{% url 'members:bot_info' %}">El Bot</a></li>
                      <li {% if request.resolver_match.url_name == "members:who" %}class="active"{% endif %}><a href="{% url 'members:who' %}">Quiénes somos</a></li>
                      <li {% if request.resolver_match.url_name == "members:join" %}class="active"{% endif %}><a href="{% url 'members:join' %}">Únete</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      {%if user.is_authenticated %}
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="{% url 'edit_profile' %}"><i class="fa fa-user-circle right-margin" aria-hidden="true" ></i> Editar mi perfil</a></li>
                                <li><a href="{% url 'dashboard' %}"><i class="fa fa-home right-margin" aria-hidden="true" ></i> Dashboard</a></li>
                                  {% if user.is_superuser %}
                                    <li><a href="{% url 'admin:index' %}"><i class="fa fa-cog right-margin" aria-hidden="true" ></i> Django Admin</a></li>
                                    <li><a href="{% url 'admin:app_list' 'zinnia' %}"><i class="fa fa-archive right-margin" aria-hidden="true" ></i> Gestionar blog</a></li>
                                  {% endif %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'logout' %}?next=/"><i class="fa fa-power-off right-margin" aria-hidden="true" ></i> Salir</a></li>
                              </ul>
                        </li>
                      {% else %}
                        <li  {% if request.resolver_match.url_name == "login" %}class="active"{% endif %}><a href="{% url 'login' %}"><i class="fa fa-plug" aria-hidden="true" ></i> Entrar</a></li>
                      {% endif %}

                  </ul>
          </div>
        </nav>
        {% block home_header %}{% endblock home_header %}


        {% block main_content %}{% endblock main_content %}

        <footer>
    <div class="container">

        <div class="row insula">
            <div class="col-sm-5 text-center">
                <div class="social-links">
                    <a href="https://www.facebook.com/somosalcalaesmusica/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Página de Facebook" class="card"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/aemusica" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Perfil de Twitter" class="card"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/alcalaesmusica/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Página de Instagram" class="card"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://t.me/alcalaesmusica/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Canal de Telegram" class="card"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                    <a href="https://t.me/alcalaesmusicabot/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Bot de Telegram" class="card"><i class="fa fa-reddit" aria-hidden="true"></i></a>
                </div>

                <!--<script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/colabora-con-la-asociacion-y-si-nos-hace-falta" height="685px" width="100%"
        style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>-->
            </div>
            <div class="col-sm-7 text-center">
                <a href="https://coworkingalcala.com/" target="_blank"><img class="img-responsive" src="{% static "img/logo_insula.png" %}"></a>
                <p>Desarrollado por coworkers de la <a href="https://coworkingalcala.com/" target="_blank"> Ínsula Coworking </a><br>
                Código liberado bajo licencia GPL<br>
                    <a class="btn btn-primary" href="https://github.com/InsulaCoworking" target="_blank" role="button"><i class="fa left fa-github-alt" aria-hidden="true"></i> Ver repositorios en GitHub </a>
                </p>
            </div>

        </div>

    </div>
</footer>

    {% if messages %}
   <div class="toast-messages">
       {% for message in messages %}
        <div class="toast {% if message.tags %}{{ message.tags }}{% endif %}">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<strong>Ouch!</strong> {% endif %}
            {{ message }}
        </div>
        {% endfor %}
   </div>
   {% endif %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}?v=21"></script>
    {% block scripts %}{% endblock scripts %}

    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-99984510-1', 'auto');
      ga('send', 'pageview');
    </script>
    </body>
</html>