{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Profesionales{% endblock%}


{% block content %}
<div class="jumbo-header jumbo-band" >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Profesionales</h1>
        <p class="description">Un festival participativo con más de 140 grupos actuando en calles y plazas del Casco Histórico de Alcalá, Patromonio de la Humanidad</p>
      </div>
    </div>
</div>
<div class="header-bar text-center header-band">

</div>

<div class="container margin-bottom">
    <div class="clearfix tags margin-bottom text-center">
        {%for tag in tags %}
            <div class="tag-filter card" style="border-color:{{tag.color}}" data-tag="{{tag.id}}">{{tag.name}}</div>
        {% endfor %}
    </div>
    <div id="pros-list">
        <div class="results">
            {% include 'professional/search_results.html' with pros=pros %}
        </div>
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>

<section id="map" class="loading-container" style="min-height:400px;">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
    <span class="sr-only">Loading...</span>
</section>

{% endblock %}

{% block scripts %}
{% include 'common/include_gmaps.html' %}

<script type="text/javascript">
    var map_canvas = $('#map');
    var media_root = {{MEDIA_URL}};
    function initMap() {
        $.get('{% url "pros_map_info" %}', function(markers){

            map = new google.maps.Map(map_canvas[0], {
                zoomControl: true,
                scaleControl: false,
                streetViewControl: false,
                scaleControl:false,
                mapTypeControl:false
            });
            map_canvas.removeClass('loading-container');

            var bounds = new google.maps.LatLngBounds();
            for (var i = 0; i < markers.length; i++) {

              var venuePosition = new google.maps.LatLng(markers[i].latitude, markers[i].longitude);
              var image = (markers[i].profile_image && markers[i].profile_image.length > 0)?
                            (media_root + markers[i].profile_image) : '{% static "img/pro-icon.png" %}';
              var marker = new RichMarker({
                  position: venuePosition,
                  map: map,
                  content: '<div class="marker-wrapper"><div class="marker"><img src="' + image + '"></div></div>'
                });
                //extend the bounds to include each marker's position
                bounds.extend(marker.position);
            }

            //now fit the map to the newly inclusive bounds
            map.fitBounds(bounds);

        });
      }
</script>

<script type="text/javascript">
var tags = $('.tags');
var list = $('#pros-list');

tags.on('click', '.tag-filter', function(){
    var tag = $(this);
    if (tag.hasClass('active')){
        tag.removeClass('active');
        tags.removeClass('filtered');
        loadResults(list, '?');
    }
    else{
        tags.addClass('filtered').find('.tag-filter').removeClass('active');
        tag.addClass('active');
        var filter = tag.attr('data-tag');
        loadResults(list, '?tag=' + filter);
    }
});

loadPaginationAjax(list);


</script>
{% endblock %}